300 RCDATA "D:/Ballistic Games/ballistic-engine/Engine/res/Images/icon_comp.png"
301 RCDATA "D:/Ballistic Games/ballistic-engine/Engine/res/Images/logo.png"
302 RCDATA "D:/Ballistic Games/ballistic-engine/Engine/res/Images/logo_long.png"
