[submodule "Ballistic/Thirdparty/glew"]
	path = Ballistic/Thirdparty/glew
	url = https://github.com/Perlmint/glew-cmake
[submodule "Ballistic/Thirdparty/glm"]
	path = Ballistic/Thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "Ballistic/Thirdparty/entt"]
	path = Ballistic/Thirdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "Ballistic/Thirdparty/tinyobjloader"]
	path = Ballistic/Thirdparty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "BallisticEditor/Thirdparty/ImGuizmo"]
	path = BallisticEditor/Thirdparty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "BallisticEditor/Thirdparty/tinyfiledialogs"]
	path = BallisticEditor/Thirdparty/tinyfiledialogs
	url = https://github.com/native-toolkit/libtinyfiledialogs.git
