[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/oglplus"]
	path = external/oglplus
	url = https://github.com/matus-chochlik/oglplus
